In [12]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Alya Zahirah
I0322133
Kelas D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [11]:
panjang = 11
lebar = 1.99
tinggi = 25.87

# diagonal p-l
diagonal_1 = (panjang**2+lebar**2)**0.5
# diagonal p-t
diagonal_2 = (panjang**2+tinggi**2)**0.5
# diagonal l-t
diagonal_3 = (lebar**2+tinggi**2)**0.5

# luas permukaan
lp = 2*(panjang*lebar+panjang*tinggi+lebar*tinggi)

print ("Balok dengan: \nPanjang:",panjang, "\nLebar:",lebar,"\nTinggi:",tinggi)
print ("\nMemiliki diagonal:\nSisi pertama:",diagonal_1,"\nSisi kedua:",diagonal_2,"\nSisi ketiga:", diagonal_3)
print ("\nDengan luas permukaan:",lp)

Balok dengan:
Panjang: 11
Lebar: 1.99
Tinggi: 25.87

Memiliki diagonal:
Sisi pertama: 11.17855536283647
Sisi kedua: 28.11150831954771
Sisi ketiga: 25.946425572706545

Dengan luas permukaan: 715.8825999999999

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

In [32]:
Frank = 80
Abagnale = 75
Cobb = 90
Andy_Dufresne = 85
Ariadne= 70

kelas = [Frank, Abagnale, Cobb, Andy_Dufresne, Ariadne]

#nilai rata2
rata = sum(kelas)/len(kelas)+max(kelas)

print ("Nilai rata-rata adalah", rata, "\nNilai tertinggi adalah", max(kelas), "milik Cobb\nNilai terendah adalah",min(kelas),"milik Ariadne")

Nilai rata-rata adalah 170.0
Nilai tertinggi adalah 90 milik Cobb
Nilai terendah adalah 70 milik Ariadne

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [33]:

aslab1 = {
    "nama": "Berlian Safri Prakoso",
    "nim": "I0320017", 
    "kontak": "0858XXXXXXXX"
}
aslab2 = {
    "nama": "Halidya Siti Hanifah",
    "nim": "I0320044",
    "kontak": "0878XXXXXXXX"
    }
aslab3 = {
    "nama": "Nurki Putra Mahardika",
    "nim": "I0320076",
    "kontak": "0877XXXXXXXX"
    }
aslab4 = {
    "nama": "Aji Manarul Aziz",
    "nim": "I0320119",
    "kontak": "0812XXXXXXXX"
    }
aslab5 = {
    "nama": "Alica Ayu Fitriani",
    "nim": "I0320121",
    "kontak": "0896XXXXXXXX"
    }
aslab6 = {
    "nama": "Dendy Halim Kusuma",
    "nim": "I0320125",
    "kontak": "0822XXXXXXXX"
    }
#aduh mbak sya bngung, begini??
print(aslab1["nama"])
print(aslab2["nama"])
print(aslab3["nama"])
print(aslab4["nama"])
print(aslab5["nama"])
print(aslab6["nama"])

nama_aslab = (aslab1["nama"], aslab2["nama"],aslab3["nama"],aslab4["nama"],aslab5["nama"],aslab6["nama"])
#atau bgini???
print(nama_aslab)

#ini saya manual ya mbak,, bingung cara cepatnya
aslab1.update({"surel" : "berlian@student.uns.ac.id"})
aslab2.update({"surel" : "halidya@student.uns.ac.id"})
aslab3.update({"surel" : "nurki@student.uns.ac.id"})
aslab4.update({"surel" : "manarul@student.uns.ac.id"})
aslab5.update({"surel" : "alica@student.uns.ac.id"})
aslab6.update({"surel" : "dendy@student.uns.ac.id"})

list_aslab = (aslab1, aslab2,aslab3,aslab4,aslab5,aslab6)
print(list_aslab)

Berlian Safri Prakoso
Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma
('Berlian Safri Prakoso', 'Halidya Siti Hanifah', 'Nurki Putra Mahardika', 'Aji Manarul Aziz', 'Alica Ayu Fitriani', 'Dendy Halim Kusuma')
({'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}, {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}, {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}, {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}, {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}, {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'})